html,
body {
    height: 100%;
    background-color: antiquewhite;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-card,
.card {
    border-radius: 30px;
}

.card-header {
    border-top-left-radius: 30px!important;
    border-top-right-radius: 30px!important;
}

.card-footer {
    border-bottom-left-radius: 30px!important;
    border-bottom-right-radius: 30px!important;
}

.card-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100px;
}