html,
body {
    height: 100%;
    background: linear-gradient(-45deg, rgb(215, 253, 253), rgb(199, 248, 207), rgb(215, 206, 250));
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-card,
.card {
    border-radius: 30px;
}

.card {
    box-shadow: 0px 5px 25px 5px grey;
}

.card-header {
    border-top-left-radius: 30px!important;
    border-top-right-radius: 30px!important;
}

.card-footer {
    border-bottom-left-radius: 30px!important;
    border-bottom-right-radius: 30px!important;
}

.card-image {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0px 5px 15px 2px grey;
    margin-bottom: 15px;
}